.info{
  color: white;
}

.colorevent{
  color: white;
}

#colorTime{
  color: white;
}


body {
  font-family:'Emilys Candy',sans-serif;font-weight:300
 }


 .mr {
   height: 250px;
   transform: translateX(300px) translateY(1000px);
 }

 .mr2 {
   transform: translateX(-250px) translateY(300px);
 }
/* IDEA: iframe {
width: 100%;
transform: translateX(-40%) translateY(-30%);
}
 */
/* IDEA: .videowrapper{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px
  height: 0px;
}

.videowrapper iframe{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 30%;
  width: 30%;
}

.videowrapper2 iframe{
  position: absolute;
    left: 900px;
    top: 200px;
    right: 0px;
    bottom: 0px;
    width: 30%;
    height: 50%;
} */



audio{
  transform: translateX(0px) translateY(500%);

/* IDEA:   (https://images.wallpaperscraft.com/image/surrealism_boat_clouds_130292_1920x1080.jpg);*/

   /* IDEA: background-image: url(https://images.wallpaperscraft.com/image/surrealism_boat_clouds_130292_1920x1080.jpg);
   background-size: 100%; */

   /* IDEA:(https://images.wallpaperscraft.com/image/clouds_porous_sky_125791_3840x2160.jpg);  */
